@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
body {
    background-color: rgba(156, 152, 193, 0.36);
   font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-size: 2em;
    min-height: 100vh;
     text-align: justify;
}
.jumbotron {
    font-family: 'eraser', sans-serif;
    background-image: url(toh3.svg.png);
    background-size: 100% 100%;
    height: auto;
    color: #2e4174;
    text-align: center;
}
.jumbotron.h1{
    font-size: 80px;
}
.col-md-4{
    width:auto;
}
.nav-tabs{
    bottom:0;
    text-align: center;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.question{
    border: 1px solid #aaa;
    background-color: white;
    margin-bottom: 10px;
}
#resultsTable, #resultsTable td,#resultsTable th{

    margin:0 auto;
    border: 1px solid #aaa;
    background-color: rgba(156, 152, 193, 0.36);
    margin-top: 20px;
    margin-bottom: 20px;
    width:40%;
    color:black;
    text-align: center;

}
 #resultsTable th{
        background-color: pink;
    

 }
input[type=radio]{
  width   : 28px;
  margin  : 0;
  padding : 0;

}
.quiztitle,
.towersTitle {
    color: purple;
}
.row {} .col-md-5 p {
    color: #790765;
}
#hint{
    color:red;
}
#move1,
#move2,
#move3 {
    height: auto;
    margin-top: 20px;
}
.disks {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    height: 40px;
    width: 50px;
    padding: 14px 25px;
    background-color: #A27AFE;
}
.important {
    color: red;
    text-decoration: bold;
}
#Home,
#Examples,
#SecondOrder,
#Recurrence,
#MathInduction,
#Test,
#Review {
    margin: 0 auto;
    height: auto;
}
#centerCol {
    width: ;
}
.result {
    width: ;
    margin-top: 10px;
    margin: 0 auto;
}
#help {
    width: 80%;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #aaa;
}
#testarea,
#Home,
#SecondOrder,
#Recurrence,
#MathInduction,
#quadfull,
#fullLinear,
#tohfull {
    margin: 0 auto;
    height: auto;
    min-height: 500px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: black;
    position: relative;
}
.justify{
        text-align: justify;

}
#MathInduction{
    width:100%;
}
.carousel{
    height:450px;
    width:100%;
    margin-bottom: 50px;
}

#recurrenceproof {
    width: 45%;
}
.proofcolumns {
    float: left;
    background-color: grey;
}
.carousel-inner{
    height:90%;
}
.tabs2 {
    margin-left: ;
}
.tabs3 {
    margin-left: ;
}
.hidden {
    display: none;
}

#pattern {
    margin: 0 auto;
}
#recImage,
#recImage2,
#recImage3 {
    width: 50%;
    height: 200px;
    background-size: 100% 100%;
    background-color: white;
    margin: 0 auto;
}
.moves {
    text-decoration: underline;
}
#recImage {
    background-image: url(disk1.jpg);
}
#recImage2 {
    background-image: url(disk2.jpg);
}
#recImage3 {
    background-image: url(disk3.jpg);
}
#diff1,
#diff2,
#diff3,
#diff4,
#diff5,
#diff6 {
    width: 80%;
    height: 20px;
    text-align: right;
    color: green;
    font-size: 1em;
}
#firstdifftext {
    width: 50px;
    text-align: right
}
#firstdifftext {
    width: 70px;
    text-align: right
}
#second1,
#second2,
#second3,
#second4,
#second5,
#second6 {
    width: 100%;
    padding-top: 20px;
    height: 25px;
    font-size: 1em;
    text-align: right;
    color: red;
}
#hortable {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    height:auto;
}
#hortable td {
    width: auto;
}
#closedForm {} .container {
    width: 80%;

}
#closedFormGuess{
    margin-top: 50px;
}
#closedFormArea {
    width: 100%;
    top: 0;
}
#password{
width:100%;
    border-radius: 4px;
        border: 1px solid #ccc;
    color: #555;

display: block;

}
#modalfeedback{
    margin:0 auto;
}



#registerbutton {
    background-color: white;
    font-size: 1.5em;
}
#myTab {
    font-size: 1em;
    padding-top: 0px;
    margin-top: 0px;

}
#feedback{
    height:200px;
}
.footer {
  text-align: center;
  font-size: 2em;
   margin:0 auto;
    height:50px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
   position:static;
   bottom:0;
   width:100%;
}
#image{
    background-image:url(smiley.jpg);
margin:0 auto;
}

#myTab li.active a {
   background-color: rgba(0, 0, 50, 0.5); 
   color:white;
}
#myTab li a{
  color:#2e4174;
}

#buttonsarea {
    height: auto;
    width: 400px;
    margin: 0 auto;
}
.col-md-4 {
    width: 390px;
    margin: 0 auto;
}
#hometext{
    width:450px;
}
.arrow {
    font-size: ;
    color: blue;
}
.column1,
.column2,
.column3,
.column4,
.column5 {
    padding-top: 20%;
    padding-left: 50px;
}
#findDifference {
    width: auto;
    height: auto;
    margin-top: 30px;
}
#Difference,
#Difference2 {
    height: 90px;
    background-color: white;
    color: black;
}
#authArea{
float:right;
}
.AuthUser{
    color: #2e4174;
    display:inline-block;
    margin-left: 6px;
}
h2{
        display:inline-block;
        color: #2e4174;

}
#Difference2 .arrow {
    color: red;
}

#proofMessage {
    color: green;
}
#recTable {
    margin: 0 auto;
    margin-bottom: 50px;
    width:;
}
label{
    width:auto;
}
#rec1,
#rec2,
#rec3 {
    width: 33%;
    margin-right: 25px;
}
table.inductionTable {
    width: 100%;
    margin: 0 auto;
}
table.recurrenceTable {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;
}
table.recurrenceTable td {
    width: 50px;
    margin: 0 auto;
}
table.inductionTable tr {
    margin-top: 20px;
}
#error {
    color: red;
}

#step1,
#trueorFalse {
    width: 180px;
    color: blue;
    margin-top: 50px;
    height: ;
}
#step2 {
    width: 200px;
    color: blue;
    margin-top: 50px;
}
#step3 {
    width: 200px;
    color: blue;
    margin-top: 50px;
}
table.inductionTable td {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid pink;
}
#true {
    color: green;
}
.table {
    margin: 0 auto;
}
.errors{
    margin:0 auto;
    text-align: center;
    float:left;
}
header{
    margin:0 auto;
}
.errorArea{
    height:auto;
    width:auto;
    color:red;
}
#messages{
    margin:0 auto;
    text-align: center;
}
.numberInput,
.sequenceval,
.guess,
#term,.linguess {
    border: 5px solid #2e4174;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.0);
    width: 52px;
    height: 52px;
    background-color: white;
}
td {
    width: ;
}
#Recurrence {
    margin: 0 auto;
}
.container {
    background-color: white;
}
.navbar{
    width:100%;
    margin-bottom: 0px;
}
.nav-tabs {
    background-color: white;
    color: white;
    font-size: 150%;
}
.modal-body {

    color: black;
    background-size: cover;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%;
}
.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.form-group {

    margin: 0 auto;
}
#logo {
    height: 50px;
    width: 50px;
    top: 50;
    left: 0;
    background-image: url('logo.svg.png');
}
#recsubmit {
    margin: 0 auto;
}
#diffex {
    padding-left: 25px;
}

.nav-tabs li a {
    color: black;
}
